<%# 順番が気持ち悪いが:titleに@user.nameを指定し、layouts/application.html.erb内で使用している %>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%# ヘルパーメソッド呼び出し %>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <%# ユーザーがポストを投稿していれば表示 %>
    <% if @user.microposts.any? %>
      <%# 投稿数も表示 %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%# /sample_app/app/views/microposts/_micropost.html.erb %>
        <%# を呼び出して表示 %>
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
    