<%# ポスト投稿フォームを表示するパーシャル %>
<%# /micropostsにPOSTで送信する %>
<%#
<form class="new_micropost" id="new_micropost" action="/microposts" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="XXXXXXXXXX==">
  <div class="field">
    <textarea placeholder="Compose new micropost..." name="micropost[content]" id="micropost_content"></textarea>
  </div>
  <input type="submit" name="commit" value="Post" class="btn btn-primary" data-disable-with="Post">
</form>
%>

<%= form_for(@micropost) do |f| %>
  <%# /sample_app/app/views/shared/_error_messages.html.erb %>
  <%# エラーを表示するパーシャルにMicropostモデルを投げる %>  
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <%# ファイルアップロード用 %>
  <span class="picture">
    <%# <input accept="image/jpeg,image/gif,image/png" type="file" name="micropost[picture]" id="micropost_picture"> %>
    <%# accept属性でサポートされている拡張子をブラウザ経由で知らせる %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<%# 画像のアップロードフォームを監視し %>
<%# サイズをチェックしている %>
<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

