<%# Rails全体のレイアウトファイル %>
<!DOCTYPE html>
<html>
  <head>
    <%# :titleはコントローラーに対応している個々のビューで定義している %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%# app/views/layouts/_shim.html.erb ファイルを評価し挿入する %>
    <%# アンダースコアでパーシャルであることを示す %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%# app/views/layouts/_header.html.erb ファイルを評価し挿入する %>
    <%= render 'layouts/header' %>
    <%# 個々のビューの内容を表示する %>
    <div class="container">
      <%# リダイレクト元でflashが登録されている場合は %>
      <%# 適切なスタイルでメッセージを表示する %>
      <% flash.each do |message_type, message| %>
        <%# Railsのヘルパーを使って以下のようなHTMLを出力する %>
        <%# <div class="alert alert-success">Welcome to the Sample App!</div> %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%# app/views/layouts/_footer.html.erb ファイルを評価し挿入する %>
      <%= render 'layouts/footer' %>
      <%# 開発環境ならデバッグ情報を表示する %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
