<%# Rails全体のレイアウトファイル %>
<!DOCTYPE html>
<html>
  <head>
    <%# :titleはコントローラーに対応している個々のビューで定義している %>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%# app/views/layouts/_shim.html.erb ファイルを評価し挿入する %>
    <%# アンダースコアでパーシャルであることを示す %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%# app/views/layouts/_header.html.erb ファイルを評価し挿入する %>
    <%= render 'layouts/header' %>
    <%# 個々のビューの内容を表示する %>
    <div class="container">
      <%= yield %>
      <%# app/views/layouts/_footer.html.erb ファイルを評価し挿入する %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
